/***********************BODY*************************/
 body {
    font-family: Times New Roman, Helvética, sans-serif;
}

/* Todas las cabeceras (h1, h2, etc.) de la página tendrán fuente Times New Roman, o de la familia Times, o en su defecto con serifa.*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Times New Roman, Times, serif;
}
/************************HEADER**********************/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: cadetblue;

}

#logo{
    align-content: center;
    flex-basis: 100%;
    
}
img{
    width: 100%;
    height: auto;
}
/***********MAIN**********/
main {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: Times New Roman, Helvética, sans-serif;
}
form{
    background-color: lightgrey;
    min-width: 300px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;

}
h1{
    text-align: center;
    margin-top: 1em;
}
label{
    width: 100%;
    display: inline-block;
    text-align: left;
        
}
input{
    margin-bottom: 0.5em;
    display: block;
    align-content: center;
}

.error{
    color:red;
}


/*********************FOOTER*************************/
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    background-color: cadetblue;
}

footer p {
    color: black;

}

footer img {
    width: 20px;
    height: 20px;
}

footer a {
    margin-bottom: 1em;
}
